@import '../../index.scss';

.navbar {
    padding: 2rem 13rem;
    display: flex;
    justify-content: space-between;
    // color: $light-color;
    background-color: $secondary-background-color;
}

.nav {
    gap: 2rem;
    font-size: $font-size-xs;
    color: $light-color-alt;
}

.nav-item {
    gap: .8rem;
}

.nav-item:hover {
    color: $light-color;
}