@import '../../../sass/variables';

.order-list-screen-container {
    padding-block: 1.5rem;
    padding-inline: 1.5rem;
    // display: flex;
    // flex-wrap: wrap;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
}

.order-title {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.details-btn {
    background-color: $secondary-background-color;
    color: $light-color;
    border-radius: .5rem;
    font-size: 1rem;
    padding: .6rem 1rem;
}

.order-list-screen-container .message {
    background-color: #FADBD8;
    border-radius: 0.4rem;
    color: #B93D30;
    grid-column: 1/3;
    height: 5rem;
    font-size: 1.4rem;
    margin-bottom: 3rem;
    // margin-top: 1.5rem;
    // margin-left: 3rem;
    padding: 1.5rem 2rem;
}
