@import '../../sass/variables';

.search-box-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box-form .text-control {
    border: 1.2px solid white;
    background-color: white;
    color: $secondary-background-color;
    font-size: $font-size-xs;
    border-radius: .6rem;
    width: 85%;
    padding: 1rem;
}

.search-btn {
    border: 1px solid #18BC9C;
    color: #18BC9C;
    font-size: $font-size-xs;
    border-radius: .6rem;
    padding: 1rem;
    margin-left: 1.4rem;
}

.search-btn:hover {
    background-color: #18BC9C;
    color: $secondary-background-color;
}