@import '../../sass/variables';

.search-box-form {
    display: flex;
}

.search-box-form .text-control {
    border: 1.2px solid white;
    background-color: white;
    color: $secondary-background-color;
    border-radius: .6rem;
    padding: 1rem;
}

.search-btn {
    // background-color: $secondary-background-color;
    border: 1px solid #18BC9C;
    color: #18BC9C;
    border-radius: .5rem;
    // font-size: 1.2rem;
    padding: 1rem;
    // margin-top: 1rem;
    margin-left: 2rem;
}

.search-btn:hover {
    background-color: #18BC9C;
    color: $secondary-background-color;
}