//@import '../../index.scss';


.product-card {
    padding: 2rem;
    width: 100%;
    border-radius: .6rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.product-image {
    width: 100%;
    border-radius: .6rem;
    object-fit: cover;
    padding-bottom: 1rem;
}

.product-details {
    padding-top: 1rem;
}

.product-name {
    padding-bottom: 1rem;
}

.product-name:hover {
    text-decoration: underline;
}