.main-slide {
    padding-top: 2rem;
}

// .carousel .slider-wrapper {
//     height: 60rem;
// }

// .carousel .slider {
//     height: 50rem;
// }

.carousel .thumb {
    // width: 5%;
    // height: .5rem;
}

.product-image {
    object-fit: cover;
}

.carousel {
    text-align: center;
}