.payment-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-form {
    font-size: 1.4rem;
    padding-block: 1rem;
}

.payment-form .form-title {
    padding-inline-start: 0;
    // font-size: 2.4rem !important;
    // font-weight: bold;
}

.select-method {
    font-weight: 600;
}

.payment-form .form-group {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-inline: 0;
}

input[type="radio"] {
    accent-color: rgb(5, 165, 5);
  }

.payment-method-label {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 0.2rem;
    padding-left: .5rem;
}
