//@import '../../index.scss';

@import '../../sass/variables';

.order-summary {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: .5rem;
    // grid-column: 3/-1;
    // width: 35rem;
    height: fit-content;
    padding: 2rem 2rem;
    margin-bottom: 4rem;
    // margin-top: .5rem;
    // margin-left: 4rem;
}

.order-summary-title {
    color: $secondary-background-color;
    font-weight: 600;
    padding-bottom: 1rem;
}

.order-summary .table-col {
    padding-top: 1rem;
}

.place-order-btn {
    background-color: $secondary-background-color;
    border-radius: 0.6rem;
    color: $light-color;
    font-size: 1.2rem;
    margin-block: 1.2rem;
    padding: 1rem;
}

.place-order-btn:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.paypal-button {
    width: auto;
}


//before change
// .order-summary {
//     box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
//     border-radius: .5rem;
//     grid-column: 3/-1;
//     width: 35rem;
//     height: fit-content;
//     padding: 2rem 3rem;
//     margin-top: .5rem;
//     margin-left: 4rem;
// }

// .order-summary-title {
//     color: $secondary-background-color;
//     font-weight: 600;
//     padding-bottom: 1rem;
// }

// .order-summary .table-col {
//     padding-top: 1rem;
// }

// .place-order-btn {
//     background-color: $secondary-background-color;
//     border-radius: 0.6rem;
//     color: $light-color;
//     font-size: 1.2rem;
//     margin-block: 1.2rem;
//     padding: 1rem;
// }

// .place-order-btn:disabled {
//     background-color: gray;
//     cursor: not-allowed;
// }

// .paypal-btn {
//     margin-block: .5rem;
// }