@import '../../sass/variables';

.preview-container {
    padding: 3rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.goback-btn {
    background-color: $secondary-background-color;
    border-radius: 0.5rem;
    color: $light-color;
    font-size: 1.1rem;
    padding: .8rem;
}

.preview {
    font-size: 1.2rem;
    padding-block: 2.5rem;
    gap: 2.5rem;
}

.preview-image {
    width: 100%;
    border-radius: .6rem;
}

.preview-name {
    padding-top: 1.3rem;
}

.preview-description {
    text-align: left;
}

.add-to-cart {
    height: fit-content;
    margin-top: 1rem;
    padding: 2rem 3rem;
    border-radius: .6rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.table {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding-bottom: 2rem;
}

.table-padding {
    padding-block: 1.5rem;
}

.qty {
    padding: .4rem .8rem;
    margin-block: 1.15rem;   
}

.add-to-cart-btn {
    background-color: $secondary-background-color;
    border-radius: 0.5rem;
    color: $light-color;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    padding: .9rem;
    width: 10rem;
}

.add-to-cart-btn:disabled {
    background-color: gray;
    cursor: not-allowed;
}


.review {
    padding: 2.5rem 3rem;
    font-size: 1.2rem;
}

.review .no-review-message {
    background-color:#b6d6ef;
    border-radius: 0.4rem;
    color:#146fdd;
    height: 5rem;
    font-size: 1.4rem;
    margin-top: 1.5rem;
    padding: 1.5rem 2rem;
}

.review-form {
    padding-block: 1.5rem;
}

.review-form .form-group {
    padding-inline: 0;
}

.review-form .form-control {
    margin-bottom: 2rem;
}

.review-container {
    padding-top: 2rem;
}

.comment {
    padding-top: 2rem;
}

.review-form textarea {
    height: 8rem;
}

.submit-btn {
    background-color: $secondary-background-color;
    color: $light-color;
    border-radius: .5rem;
    font-size: 1.2rem;
    padding: .8rem;
    margin-top: 1rem;
    margin-left: 0;
    width: 8rem;
}

.submit-btn:hover {
    transform: scale(1.02);
}

.action-btn:disabled {
    background-color: gray;
}

.review .message {
    margin-block: 2rem;
    height: fit-content;
}