.shipping-from{
    font-size: 1.4rem;
    padding: 1rem 1.5rem;
    margin-bottom: 4rem;
}

.shipping-from .action-btn {
    padding: .8rem 1rem;
}

.shipping-from .form-group {
    padding-block: 0;
}

.shipping-from .form-label {
    padding-bottom: 0.5rem;
}