// @import '../../index.scss';

.place-order-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 3rem 12rem;
}

.product-summary {
    grid-column: 1/3;
}

.product-summary-wrapper {
    display: flex;
    flex-direction: column;
}

.product-summary-wrapper span {
    font-weight: 600;
}

.product-summary-wrapper h2 {
    font-size: 2rem;
    font-weight: 600;
}
